<div class="container">
    <div><h1>Registro de satisfaccion de los eventos</h1></div>
  
    <div class="formContainer">
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input
            matInput
            placeholder="Codigo"
            formControlName="ucodigo"
            readonly
          />
        </mat-form-field>
  
        
  
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Asistente</mat-label>
          <mat-select formControlName="uusuario">
            @for (food of listaUsuarios; track food) {
  
            <mat-option [value]="food.idUsuario">{{ food.nombres }}</mat-option>
  
            }
          </mat-select>
        </mat-form-field>
        <br />
        <mat-checkbox formControlName="uasistio">¿Asistió? </mat-checkbox>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Calificacion</mat-label>
  
          <mat-select formControlName="ucalificacion">
            @for (food of listacalificacion; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <br />
  
        
  
        <mat-form-field class="example-full-width">
          <mat-label>Evento</mat-label>
          <mat-select formControlName="uevento">
            @for (food of listaEventos; track food) {
  
            <mat-option [value]="food.idEvento">{{ food.nombre }}</mat-option>
  
            }
          </mat-select>
        </mat-form-field>
        <br />
        <div class="buttonContainer">
          <button mat-raised-button>Registrar</button>
          <button mat-raised-button color="warn" routerLink="/usuarioevento">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  