<div>
  <h1>Artistas de Talent Tune</h1>
  <div class="usuario-container">

    <mat-card *ngFor="let element of dataSource.data" class="notificacion-card">  
      <mat-card-content>
        <h2>
          <mat-icon style="vertical-align: middle; color: #000000;">person </mat-icon>
          {{ element.nombres }} {{ element.apellidos }}
        </h2>
        <p>Fecha de nacimiento: {{element.fechaNacimiento}}</p>
        <p>Pais: {{element.pais}}</p>
        <p>Sexo: {{element.sexo}}</p>
        <p>Estudios: {{element.estudios}}</p>
        <p>Descripcion: {{element.descripcion}}</p>
       <!--  <p>{{element.rol?.tipoRol}}</p>-->
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="eliminar(element.idUsuario)" aria-label="Eliminar">
          <mat-icon style="color: #FF2126;">delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/usuarios/ediciones',element.idUsuario]" aria-label="Actualizar">
          <mat-icon style="color: #03b6d6;">edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <br />
    <mat-paginator class="paginador"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
