<div>
    <h1>Eventos</h1>
    <div class="evento-container">
      <mat-card *ngFor="let element of dataSource.data" class="evento-card">  
        <mat-card-content>
          <h2>
            {{element.nombre}}
          </h2>
          <p>Organizador: {{ element.usuario.nombres }} {{ element.usuario.apellidos }}</p>
          <p>Fecha: {{element.fecha}}</p>
          <p>Tipo: {{element.tipo}}</p>
          <p>Duracion: {{element.duracion}}</p>
          <p>Descripcion: {{element.descripcion}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="eliminar(element.idEvento)" aria-label="Eliminar">
            <mat-icon style="color: #FF2126;">delete</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/eventos/ediciones',element.idEvento]" aria-label="Actualizar">
            <mat-icon style="color: #03b6d6;">edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>  
      <br />
      <mat-paginator class="paginador"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  