<div>
  <h1>Registro de Roles</h1>
  <div>
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Ejemplo: 1" formControlName="hcodigo" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Rol</mat-label>
        <mat-select formControlName="hrol">
          <mat-option *ngFor="let rol of listaroles" [value]="rol.value">
            {{ rol.viewvalue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Seleccionar Usuario</mat-label>
        <mat-select formControlName="husuario">
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
            {{ usuario.nombres }} {{ usuario.apellidos }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary">Registrar</button>
    </form>
  </div>
</div>
