<div>
  <h1>Lista de Contratos</h1>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idContrato">
        <th mat-header-cell *matHeaderCellDef> ID Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.idContrato}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef> Fecha de Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
      </ng-container>

      <ng-container matColumnDef="salario">
        <th mat-header-cell *matHeaderCellDef> Salario </th>
        <td mat-cell *matCellDef="let element"> {{element.salario}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado del Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}}</td>
      </ng-container>

      <ng-container matColumnDef="condiciones">
        <th mat-header-cell *matHeaderCellDef> Condiciones </th>
        <td mat-cell *matCellDef="let element"> {{element.condiciones}} </td>
      </ng-container>

      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef> Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.manager.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="talento">
        <th mat-header-cell *matHeaderCellDef> Talento </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.talento ? element.talento.nombres + ' ' + element.talento.apellidos : 'Sin talento asignado'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="banda">
        <th mat-header-cell *matHeaderCellDef> Banda </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.banda ? element.banda.nombre : 'Sin banda asignada'}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element" (click)="eliminar(element.idContrato)">
          <mat-icon style="color: #FF2126;">delete</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button [routerLink]="['/contratos/editar', element.idContrato]">
            <mat-icon style="color: #03b6d6;">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>