<div>
    <h1>Registro de Eventos </h1>
    <div class="usuarioevento-container">
      <mat-card *ngFor="let element of dataSource.data" class="usuarioevento-card">
        <mat-card-content>
          <h2>
            <mat-icon style="vertical-align: middle; color: #000000;">person </mat-icon>
            Asistente: {{element.usuario.nombres}} {{element.usuario.apellidos}}
          </h2>
          <p>Evento: {{element.evento.nombre}}</p>  
          <p>Organizador del evento: {{element.evento.usuario.nombres}}</p>
          <p>Calificacion: {{element.calificacion}}</p>  
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="eliminar(element.idUsuarioEvento)" aria-label="Eliminar">
            <mat-icon style="color: #FF2126;">delete</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/usuarioevento/ediciones',element.idUsuarioEvento]" aria-label="Actualizar">
            <mat-icon style="color: #03b6d6;">edit</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card>
      <br>
      <mat-paginator class="paginador"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
    ></mat-paginator>

    </div>
  </div>
  