<div>
  <div><h1>Registrar Usuario</h1></div>
  <div>
    <mat-form-field>
      <mat-label>Nombres</mat-label>
      <input matInput />
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Sexo</mat-label>
      <mat-select>
        <mat-option value="one">Femenino</mat-option>
        <mat-option value="two">Masculino</mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <textarea matInput></textarea>
    </mat-form-field><br>
    <button mat-flat-button>Registrar</button>
  </div>
</div>
