body {
    font-family: Montserrat;
  }
  
  .nav-container {
    background-color: #000000;
  }
  
  .box-home-description {
    position: relative;
  }
  
  .box-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffd147;
  }
  
  .box-company-description {
    padding: 30px 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .box-company-container {
    flex: 1;
    min-width: 0;
    padding: 10px;
    text-align: center;
    display: grid;
    gap: 50px;
    grid-template-columns: 250px 250px;
    align-items: center;
  }
  
  #company-image {
    border-radius: 12px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  }
  
  .box-company-team {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .box-company-team-developer {
    text-align: center;
  }
  
  .team-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #item-image {
    border-radius: 16px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  }
  
  #button-begin {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
  }
  
  #home-image {
    width: 100%;
    height: 700px;
    opacity: 0.7;
  }
  
  .fond-image {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    /* Ancho del slider */
    overflow: hidden;
  }
  
  .fond-image-content {
    display: flex;
    /* Hace que las imágenes se muestren en una línea horizontal */
    animation: slide 6s linear infinite;
    /* Anima el deslizamiento durante 6 segundos y se repite infinitamente */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
      /* Comienza desde la posición inicial */
    }
  
    100% {
      transform: translateX(-109%);
      /* Desliza las imágenes hacia la izquierda */
    }
  }
  
  .box-features-container {
    padding: 60px 80px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: black;
  }
  
  .box-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .feature-image {
    border-radius: 16px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  }
  
  .box-question-container {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    gap: 20px;
  }
  
  .box-question-item {
    background-color: white;
    color: black;
    border-radius: 16px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
  }
  
  .box-question-item:hover {
    background-color: #e1f0ff;
  }
  
  .log-in {
    text-align: center;
    padding: 50px;
  }
  
  .log-in h2 {
    font-size: 36px;
    color: #bad204;
  }
  
  .log-in form {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .log-in label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    color: #bad204;
  }
  
  .log-in input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #bad204;
    border-radius: 5px;
  }
  
  .log-in button {
    background-color: #bad204;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .log-in button:hover {
    background-color: #bad204;
  }
  
  .sign-up {
    text-align: center;
    padding: 50px;
  }
  
  .sign-up h2 {
    font-size: 36px;
    color: #bad204;
  }
  
  .sign-up form {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .sign-up label {
    display: block;
    font-weight: bold;
    color: #bad204;
  }
  
  .sign-up input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #bad204;
    border-radius: 5px;
  }
  
  .sign-up button {
    background-color: #98a918;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .sign-up button:hover {
    background-color: #bad204;
  }
  
  .sign-up select {
    text-align: center;
    width: 100%;
  }


/* Para FQS */

  .faq-container {
    padding: 20px;
    background-color: #0056ac;
    color: white;
    border-radius: 8px;
  }
  
  mat-expansion-panel {
    max-width: 800px;
    margin-left: 22%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px; 
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden;
  }
  
  mat-expansion-panel-header {
    padding: 0 16px;
  }
  
  mat-expansion-panel-header:not([aria-expanded="true"]) .mat-expansion-panel-header-title {
    color: #151515; /* Color del texto de la pregunta */
  }

  mat-panel-title {
    max-width: 800px; /* Establece un ancho máximo para limitar la expansión */
    margin: 0 auto;
    font-weight: 500;
    color: #000000;
    align-items: center;
  }

  
  p {
    color: black;
    padding: 10px;
  }
  

 /* About us*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: #ffffff;
  padding: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card mat-card-header {
  background-color: #f8ca32;
  align-items: center;
  padding: 10px;
}

.dos {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.card mat-card-content p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.imagen54 {
  width: 350px;
  height: auto;
  margin-top: 5%;
  border-radius: 4px;
  margin-left: 20%;
}
.imagen55 {
  width: 250px;
  height: auto;
  margin-top: 5%;
  border-radius: 4px;
  margin-left: 25%;
}

 /*CREADORES*/

 .creadores-container h2 {
  grid-column: 1 / -1; /* Ocupa toda la fila */
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1px;
}

.creadores-container .descripcion {
  grid-column: 1 / -1; /* Ocupa toda la fila */
  font-size: 20px;
  color: #454545;
  text-align: center;
  margin-top: 1px; 
}

.creadores-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding:10px;
  background-color: #ffd147;
}

.creator-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  max-width: 350px;
  margin-left: 20%;
}

.creator-card:hover {
  transform: translateY(-5px);
}

.creator-card mat-card-image {
  border-radius: 8px 8px 0 0;
  /* Bordes superiores redondeados */
}

.creator-card h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.creator-card p {
  font-size: 20px;
  color: #666;
}