<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="assets/image/star.jpg">
  <link rel="stylesheet" href="assets/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Talent Tune</title>
</head>

<body>
    <div class="nav-container">
      <header class="d-flex flex-wrap justify-content-center align-items-center px-5 py-3">
        <a href="./index.html"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none gap-3">
          <img src="assets/image/Logo IHC.png" width="80px" alt="">
          <span class="fs-2">Talent Tune</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#Features" class="nav-link text-light">Features</a></li>
          <li class="nav-item"><a href="#FAQs" class="nav-link text-light">FAQs</a></li>
          <li class="nav-item"><a href="#Acerca de" class="nav-link text-light">Acerca de</a></li>
          <li class="nav-item"><a href="#Descargala" class="nav-link text-light">Descargar</a></li>
          <li class="nav-item"><a href="#NUESTRO EQUIPO" class="nav-link text-light">Nuestro equipo</a></li>
          <li class="nav-item"><a href="login.html" class="nav-link text-light">Log in</a></li>
        </ul>
      </header>
    </div>

  <section id="Home" class="box-home">
    <div class="box-home-description">
      <img id="home-image" src="assets/image/fondo.jpg" alt="Fondo">
      <div class="fond-image">
        <div class="fond-image-content">
          <img src="assets/image/artist.jpg" alt="Imagen 1">
          <img src="assets/image/artist2.jpg" alt="Imagen 2">
          <img src="assets/image/artist3.jpg" alt="Imagen 3">
          <img src="assets/image/artist.jpg" alt="Imagen 4">
          <img src="assets/image/artist2.jpg" alt="Imagen 5">
          <img src="assets/image/artist3.jpg" alt="Imagen 6">
        </div>
      </div>
    </div>
  </section>

  <section id="Features">
    <div class="box-features-container">
      <h1 style="text-align: center;">Las características de nuestra aplicación son</h1>
      <div style="display: grid; justify-content: center; grid-template-columns:250px 250px 250px;gap:80px;text-align: center;">
        <div class="box-feature">
          <h5>Busqueda de nuevos talentos </h5>
          <img class="feature-image" src="assets/image/caracteristica1.jpg" width="200px" alt="Busqueda">
        </div>
        <div class="box-feature">
          <h5>Comunicación entre usuarios</h5>
          <img class="feature-image" src="assets/image/caracteristica2.jpg" width="200px" alt="Comunicación">
        </div>
        <div class="box-feature">
          <h5>Información sobre eventos musicales</h5>
          <img class="feature-image" src="assets/image/caracteristica6.jpg" width="200px" alt="Eventos">
        </div>
        <div class="box-feature">
          <h5>Calificación y reseñas</h5>
          <img class="feature-image" src="assets/image/caracteristica4.jpg" width="200px" alt="Calificaciones">
        </div>
        <div class="box-feature">
          <h5>Descubrimientos de nuevos artistas</h5>
          <img class="feature-image" src="assets/image/caracteristica5.jpg" width="200px" alt="Descubrimientos">
        </div>
        <div class="box-feature">
          <h5>Carga de contenido multimedia</h5>
          <img class="feature-image" src="assets/image/caracteristica3.jpg" width="200px" alt="contenido">
        </div>
        <div class="box-feature">
          <h5>Sistema de coincidencias</h5>
          <img class="feature-image" src="assets/image/caracteristica7.jpg" width="200px" alt="Coincidencias">
        </div>
        <div class="box-feature">
          <h5>Seguridad y privacidad</h5>
          <img class="feature-image" src="assets/image/caracteristica8.jpg" width="200px" alt="Seguridad">
        </div>
        <div class="box-feature">
          <h5>Gestión de proyectos</h5>
          <img class="feature-image" src="assets/image/caracteristica9.jpg" width="200px" alt="Gestión">
        </div>
      </div>
    </div>

  </section>

  <section id="FAQs">
    <div style="display: flex; flex-direction: column;gap: 30px; padding: 60px 60px; border-bottom: 2px  solid black;background-color: #0056ac;color: white;">
      <h1 class="d-flex flex-wrap justify-content-center align-items-center" style="text-align: center;">Preguntas y respuestas frecuentes</h1>
      <div class="box-question-container">
        <div class="box-question-item">
          <a style="color: black; text-decoration: none; font-weight: bold;" data-bs-toggle="collapse" href="#answer1" role="text"
            aria-expanded="false" class="change-color">
            1. ¿Qué es Talent Tune?
          </a>
          <p id="answer1" class="collapse">
            Somos una plataforma web y móvil que se centra en el ámbito musical, específicamente en conectar a personas interesadas
            en el mundo de la música, ya sean músicos que buscan unirse a una banda o artistas en busca de managers,
            con los profesionales adecuados para ayudarlos a alcanzar sus objetivos en la industria musical.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none; font-weight: bold;" data-bs-toggle="collapse" href="#answer2" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            2. ¿Cómo funciona la aplicacion Talent Tune?
          </a>
          <p id="answer2" class="collapse">
            El propósito se basa en proporcionar una plataforma para la interacción y colaboración en el ámbito musical.
            La aplicación utiliza algoritmos y sistemas inteligentes para identificar perfiles relacionados y sugerir 
            conexiones entre los usuarios. Además, facilita la comunicación entre los usuarios para que puedan colaborar, 
            conversar y coordinar proyectos musicales.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none;  font-weight: bold;" data-bs-toggle="collapse" href="#answer3" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            3. ¿Está disponible la aplicacion en mi ciudad/país?
          </a>
          <p id="answer3" class="collapse">
            Talent Tune esta disponible solo para Peru-Lima; pero pronto estaremos en nuevos sitios.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none;  font-weight: bold;" data-bs-toggle="collapse" href="#answer4" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            4. ¿La aplicación tiene algún costo?
          </a>
          <p id="answer4" class="collapse">
            Puesto que recien estamos empezando, hemos decidido que la aplicacion de a los artistas apoyo por medio
            de los sponsors y seguidores.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none;  font-weight: bold;" data-bs-toggle="collapse" href="#answer5" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            5. ¿Que tipos de servicios ofrece la aplicacion Talent Tune?
          </a>
          <p id="answer5" class="collapse">
            Talent Tune ofrece diferentes servicios para nuestros 3 públicos objetivos como sponsor, artistas y seguidores, como son
            la conexión entre músicos y personas relacionadas con la industria musical, la gestión de eventos por medio de los sponsors,
            el descubrimiento de nuevos artistas y la calificarción y reseñas a los artistas y profesionales de la industria musical, 
            lo que ayuda a establecer la reputación y calidad de los servicios ofrecidos.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none; font-weight: bold;" data-bs-toggle="collapse" href="#answer6" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            6. ¿Es seguro usar la aplicacion Talent Tune?
          </a>
          <p id="answer6" class="collapse">
            Si es segura, dado que contamos con la autenticacion de Spring Security de tal forma de que todos los datos de nuestros usuarios
            esten cifrados.
          </p>
        </div>
        <div class="box-question-item">
          <a style="color: black; text-decoration: none;  font-weight: bold;" data-bs-toggle="collapse" href="#answer7" role="text"
            aria-expanded="false" aria-controls="collapseExample">
            7. ¿Se puede cambiar el tipo de cuenta una vez que ya la cree?
          </a>
          <p id="answer7" class="collapse">
            No. Una vez creada la cuenta, si usted desea cambiar el tipo, primero debe eliminar la cuenta.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="Acerca de" class="box-about">
    <div class=" box-company-description">
      <div class="box-company-container">
        <div>
          <h1>Nuestra empresa</h1>
          <p>
            Somos una empresa dedicada a la industria musical, permitimos a los usuarios crear perfiles 
            basados en su habilidad musical y género preferido e interactuar y formar relaciones laborales
            valiosas dentro de la aplicación. Ayudamos a aquellos que buscan éxito y crecimiento en el mundo de la música.
          </p>
        
        <img id="company-image" src="assets/image/Logo IHC_light.png" width="250px" alt="Logo">
      </div>
      </div>
      <div class="box-company-container">
        <img id="company-image" src="assets/image/vision.jpg" width="230px" alt="Vision">
        <div>
          <h1>Vision</h1>
          <p>
            Facilitar la conexión y colaboración entre músicos y managers a través de nuestra plataforma, 
            permitiéndoles crear perfiles basados en su talento y género musical, compartir contenido y 
            establecer conexiones significativas en la industria musical.
          </p>
        </div>
      </div>
      <div class="box-company-container">
        <div>
          <h1>Mision</h1>
          <p>
            Convertirnos en la principal plataforma de referencia para músicos y managers, 
            brindando oportunidades de crecimiento y colaboración en la industria musical a nivel global.
          </p>
        </div>
        <img id="company-image" src="assets/image/mision.jpg" width="250px" alt="Mision">
      </div>
    
    <div class="box-company-team">
      <div class="box-company-team-developer">
        <h1>Los creadores de TalentTune</h1>
        <p>
          Aqui presentamos al equipo creador de Talent Tune:
        </p>
      </div>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; gap:30px">        
          <div class="team-item">
            <img id="item-image" src="assets/image/Carlos.png" width="186px" alt="Carlos Guimaraes" />
            <h4>Carlos Guimaraes</h4>
          </div>
          <div class="team-item">
            <img id="item-image" src="assets/image/Arlet.jpg" width="250px" alt="Arlet Aquije" />
            <h4>Arlet Aquije</h4>
          </div>
          <div class="team-item">
            <img id="item-image" src="assets/image/Karito.jpg" width="190px" alt="Karito Medina" />
            <h4>Karito Medina</h4>
        </div>       
          <div class="team-item">
            <img id="item-image" src="assets/image/Juan.jpg" width="207px" alt="Juan Montes" />
            <h4>Juan Montes</h4>
          </div>
          <div class="team-item">
            <img id="item-image" src="assets/image/Greicy.jpg" width="200px" alt="Greicy Huamán" />
            <h4>Greicy Huamán</h4>
          </div>
      </div>
    </div>
    </div>
  </section>

  <button id="button-begin">Volver al inicio</button>
  <script src="assets/main.js"></script>
  <section id="Descargala" style="border-top:#000000 1px solid; padding: 50px;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h1>Descarga nuestra aplicacion en las siguientes plataformas:</h1>
      <div style="display: grid; grid-template-columns: 250px 250px;">
        <a href="https://play.google.com/store/games?hl=es_PE&gl=US" target="_blank">
          <img src="assets/image/playStore.jpg" width="90%" alt="PlayStore">
        </a>
        <a href="https://www.apple.com/la/app-store/" target="_blank">
          <img src="assets/image/appStore.jpg" width="90%" alt="AppStore">
        </a>
      </div>
    </div>
  </section>

  <section id="NUESTRO EQUIPO" style="text-align: center;">
    
      <h1>Nuestro equipo</h1>
    <br/>
      <h2>About the product</h2>
    <video controls width="700">
      <source src="assets/video/ABOUT THE PRODUCT.mp4" type="video/mp4">
    </video>
  <br/>
  <h2>About the team</h2>
    <video controls width="700">
      <source src="assets/video/ABOUT THE TEAM TALENTUNE.mp4" type="video/mp4">
    </video>
  <h2>About Us</h2>
    <video controls width="700">
      <source src="assets/video/ABOUT US.mp4" type="video/mp4">
    </video>
    
  </section>

  <footer style="background-color: #FFD147;color:black; padding: 12px;display: flex;justify-content: center;">
    <p>
      &copy;2024 Talent Tune
    </p>
  </footer>
</body>

</html>