<div class="container" style="text-align: center">
  <div class="login-box">
    <div>
      <img src="assets/LogoTalentTuneClaro.png" alt="Logo Talent Tune">
    </div>
    <h2>Inicie sesión</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <br />
    <button mat-button class="custom-button2 " (click)="login()">Ingresar</button>
    <button mat-button routerLink="/landing" class="custom-button">Cancelar</button>

  </div>
</div>
