<div>
  <h1>Registro de integracion en una banda </h1>
  <div class="usuariobanda-container">
    <mat-card *ngFor="let element of dataSource.data" class="usuariobanda-card">
      <mat-card-content>
        <h2>
          <mat-icon style="vertical-align: middle; color: #000000;">person </mat-icon>
          Talento: {{element.usuario.nombres}} {{element.usuario.apellidos}}
        </h2>
        <p>Rol: {{element.rol}}</p>
        <p>Fecha de Ingreso: {{element.fechaIngreso}}</p>
        <p>Banda: {{element.banda.nombre}}</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="eliminar(element.idUsuarioBanda)" aria-label="Eliminar">
          <mat-icon style="color: #FF2126;">delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/usuariobanda/ediciones',element.idUsuarioBanda]" aria-label="Actualizar">
          <mat-icon style="color: #03b6d6;">edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card> 
    <br>
    <mat-paginator class="paginador"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
  </div>
</div>
