<div>
  <h2>Registrar Contrato</h2>
  <form [formGroup]="form" (Submit)="guardar()">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Inicio</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="fechaInicio" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="form.get('fechaInicio')?.hasError('required')">
        Fecha de inicio es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Fin</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="fechaFin" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="form.get('fechaFin')?.hasError('required')">
        Fecha de fin es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Salario</mat-label>
      <input matInput type="number" formControlName="salario" />
      <mat-error *ngIf="form.get('salario')?.hasError('required')">
        Salario es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('salario')?.hasError('pattern')">
        Ingrese un número válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Inactivo">Inactivo</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('estado')?.hasError('required')">
        Estado es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Condiciones</mat-label>
      <textarea matInput formControlName="condiciones"></textarea>
      <mat-error *ngIf="form.get('condiciones')?.hasError('required')">
        Condiciones obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Manager</mat-label>
      <mat-select formControlName="manager">
        <mat-option *ngFor="let usuario of managers" [value]="usuario.idUsuario">
          {{ usuario.nombres }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('manager')?.hasError('required')">
        Manager es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Talento</mat-label>
      <mat-select formControlName="talento">
        <mat-option [value]="null">Ninguno</mat-option>
        <mat-option *ngFor="let usuario of talentos" [value]="usuario.idUsuario">
          {{ usuario.nombres }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Banda</mat-label>
      <mat-select formControlName="banda">
        <mat-option [value]="null">Ninguna</mat-option>
        <mat-option *ngFor="let banda of bandas" [value]="banda.idBanda">
          {{ banda.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>           

    <button mat-raised-button color="primary" (click)="guardar()">Registrar</button>
  </form>
</div>