@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

div {
    margin: 20px;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Merriweather', serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: 'Merriweather', serif;
}

th {
    background-color: #FFD147;
    color: #333;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    color: #555;
    font-family: 'Merriweather', serif;
}

tr:nth-child(odd) {
    background-color: #FFF5D7;
}

tr:nth-child(even) {
    background-color: #FFFBEB;
}

.mat-elevation-z8 {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

tr:hover {
    background-color: #FFE5A3;
    transition: background-color 0.3s ease-in-out;
}
