<h1>Lista de contenidos</h1>
<div class="contenido-list">
  <div class="contenido-card" *ngFor="let contenido of contenidos">
    <h2 class="titulo">{{ contenido.titulo }}</h2>
    <p class="fecha">{{ contenido.fechaPublicacion | date: 'shortDate' }}</p>
    <div class="contenido-detalle">
      <img *ngIf="contenido.contenido" [src]="contenido.contenido" alt="imagen" class="contenido-imagen" />
      <p *ngIf="!contenido.contenido">{{ contenido.contenido }}</p>
    </div>
    <div class="acciones">
      <button mat-icon-button (click)="toggleLike(contenido)" [class.liked]="contenido.likes">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="editar(contenido.idContenido)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="eliminar(contenido.idContenido)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
