@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

div {
  margin: 20px;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-family: 'Merriweather', serif;
}

.contenido-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  background-color: transparent;
}

.contenido-card {
  background-color: #ffffff;
  border: 1px solid #ffd147;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
  color: #000;
}

.titulo {
  font-size: 1.5rem;
  margin: 0 0 8px;
  color: #ffd147;
}

.fecha {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 16px;
}

.contenido-detalle {
  margin-bottom: 16px;
}

.contenido-imagen {
  max-width: 100%;
  border-radius: 4px;
}

.acciones {
  display: flex;
  justify-content: space-between;
}

button {
  color: #ffd147;
}

button.liked {
  color: red;
}
