<div class="container">
  <div><h1>Registro de eventos</h1></div>

  <div class="formContainer">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input
          matInput
          placeholder="Codigo"
          formControlName="ucodigo"
          readonly
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ejem. evento1"
          formControlName="unombres"
        />
      </mat-form-field>

      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="ufecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Tipo</mat-label>

        <mat-select formControlName="utipo">
          @for (food of listatipos; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Duracion</mat-label>
        <input matInput placeholder="una hora" formControlName="uduracion" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="udescripcion" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Organizador</mat-label>
        <mat-select formControlName="uusuario">
          @for (food of listaUsuarios; track food) {

          <mat-option [value]="food.idUsuario">{{ food.nombres }}</mat-option>

          }
        </mat-select>
      </mat-form-field>
<br>
      <div class="buttonContainer">
        <button mat-raised-button>Registrar</button>
        <button mat-raised-button color="warn" routerLink="/eventos">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
