<div class="form-container">
  <form (ngSubmit)="guardarContenido()" class="form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="contenido.titulo" name="titulo" required />
    </mat-form-field>

    <div class="form-field">
      <label for="contenido">Contenido o Imagen</label>
      <input
        id="contenido"
        type="file"
        (change)="cargarImagen($event)"
        accept="image/*"
      />
    </div>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Fecha de Publicación</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="contenido.fechaPublicacion"
        name="fechaPublicacion"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="contenido.idCategoria.idCategoria" name="idCategoria" required>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
          {{ categoria.tipoCategoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Seleccionar Usuario</mat-label>
      <mat-select [(ngModel)]="contenido.idUsuario.idUsuario" name="idUsuario">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
          {{ usuario.nombres }} {{ usuario.apellidos }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Seleccionar Banda</mat-label>
      <mat-select [(ngModel)]="contenido.idBanda.idBanda" name="idBanda">
        <mat-option *ngFor="let banda of bandas" [value]="banda.idBanda">
          {{ banda.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="!contenido.idUsuario.idUsuario && !contenido.idBanda.idBanda" class="error-message">
      Debes seleccionar un usuario o una banda.
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!contenido.idUsuario.idUsuario && !contenido.idBanda.idBanda">Guardar</button>
  </form>
</div>
